    /*--PAGINA 4--*/

.ubicacion {
    background-image: linear-gradient(
        0deg, 
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.7)
         )
        ,url(../imagenes/Hexagon_pagina2.svg);
    width: 100%;
    min-height:10vh;
    padding: 2.5rem;
& h3{
    margin-top: 8rem;
    font-size: 3rem;
    letter-spacing: 10px;
    padding: 20px;}
& p{
    font-size: 2rem;
    letter-spacing: 5px}}    

        
.lugarClases{
    background:linear-gradient(-45deg, #1E1E1E, #252526, #080808, #0D0D0D);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    min-height: 40vh;
    padding: 4rem;
& h3{
    color:$color-principal}
& p{
    margin-bottom:4rem;
    color:white} }    


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }}

.mapa {
    padding: 6rem;
    background-color: #0D0D0D;
& iframe{
    width: 100%;
    height: 800px;}}    
 
.masLugares{
    background-color:#0D0D0D ;
    height: 500px;
    color: white;
    justify-content: center;
& h4{
    font-size: 2.5rem;
    margin-right:2rem;
    align-self: center;}
& button{
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    background-color: #F0FB2A;
    align-self: center;}
& button a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;}
& button:hover {
    background-color:$color-principal} }   
    
    

    
 
         
 